.git
.gradle
.gradle-home
.gradle-home-audio
.dotnet-home
.idea
.vscode
**/bin
**/obj
**/build
**/.cxx
**/.externalNativeBuild
local.properties
*.iml
*.user
*.suo
*.rsuser
tmp_reflect*
tmp_reflect/
tmp_vigem_reflect/
